<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      <%= link_to items_path do %>
        <div class="links btn">
          <%= image_tag 'backpack1.png', class: 'links-img' %>
          <p class="nav-link btn" id="items"><strong>アイテム管理</strong></p>
        </div>
      <% end %>
      <div class="link discription"><strong>あなたの所有している<br>キャンプ道具を検索して<br>こちらで管理できます<br></strong></div>
    </div>
    <div class="col-6 text-center">
      <%= link_to checklists_path do %>
        <div class="links btn">
          <%= image_tag 'checklist1.png', class: 'links-img pb-1 pe-2' %>
          <p class="nav-link btn"><strong>チェックリスト</strong></p>
        </div>
      <% end %>
      <div class="link discription"><strong>キャンプシーンに合わせた<br>キャンプ道具のチェックリストを<br>作成できます</strong></div>
    </div>
    <div class="col-6 text-center pt-1">
      <%= link_to search_camps_path do %>
        <div class="links btn text-center">
          <%= image_tag 'map1.png', class: 'links-img' %>
          <p class="nav-link btn"><strong>キャンプ場検索</strong></p>
        </div>
      <% end %>
      <div class="link discription"><strong>全国のキャンプ場を検索できます<br></strong></div>
    </div>
    <div class="col-6 text-center pt-1">
      <%= link_to posts_path do %>
        <div class="links btn">
          <%= image_tag 'camping.png', class: 'links-img' %>
          <p class="nav-link btn"><strong>キャンプ記録</strong></p>
        </div>
      <% end %>
      <div class="link discription"><strong>キャンプの思い出や<br>自慢のキャンプ道具たちを<br>写真に残せます</strong></div>
    </div>
  </div>
</div>