<tr>
    <% if item.image_url.present? %>
  <td><%= image_tag item.image_url, class: 'item-image' %></td>
    <% elsif item.image.present? %>
  <td><%= image_tag item.image, class: 'item-image' %>
    <% elsif item.image.blank? %>
  <td></td>
    <% end %>
  <% if 20 < item.name.size %>
  <td><%= item.name[0..20]... %></td>
    <% else %>
  <td><%= item.name %></td>
    <% end %>
  <td><%= item.category_i18n %></td>
  <td><%= link_to '削除', admin_item_path(item), controller: 'myitems', method: :delete, data: { confirm: t('defaults.message.delete') }, class: 'btn btn-info rounded-pill px-2' %>
  <% if item.url %>
      <%= link_to item.url, style: 'text-decoration: none; color: black;' do %>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        楽天でみる
      <% end %></td>
  <% end %>
</tr>