<tr>
    <% if item.image_url.present? %>
  <td><%= image_tag item.image_url %></td>
    <% elsif item.image.present? %>
  <td><%= image_tag item.image, size: '128x128' %>
    <% elsif item.image.blank? %>
  <td><%= image_tag 'default_item_image.png', size: '128x128' %></td>
    <% end %>
  <% if 28 < item.name.size %>
  <td><%= item.name[0..28]... %></td>
    <% else %>
  <td><%= item.name %></td>
    <% end %>
  <td><%= item.category_i18n %></td>
  <td><%= link_to '削除', admin_item_path(item), controller: 'myitems', method: :delete, data: { confirm: t('defaults.message.delete') }, class: 'btn btn-info rounded-pill' %></td>
  <% if item.url %>
  <td><%= link_to "楽天でみる", item.url %></td>
  <% end %>
</tr>