<% content_for(:title, t(".title")) %>
<%= render 'shared/links' %>
<div class="container">
  <div class="container-header">
    <div class="text-center">
      <h1 class="title"><%= t '.title' %></h1>
      <div class="search_container m-auto">
        <%= form_with url: search_camps_path, method: :get do |f| %>
          <%= f.text_field :keyword, placeholder: 'キーワード検索', size: '25' %>
          <%= button_tag type: 'submit', class: 'btn btn-default' do %>
            <i class="fa-solid fa-magnifying-glass fa-lg mb-1"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map" class="card border-dark"></div>
  <div class="content mx-auto pt-3">
    <% if @camp_fields %>
      <%= render partial: 'camp_field', collection: @camp_fields %>
    <% end %>
  </div>
</div>

<script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= ENV['GOOGLE_API_KEY'] %>&language=ja&region=JP"></script>


<style>
#map{
  height: 500px;
  margin: 0 auto;
}
</style>