<tr>
    <% if item.image_url.present? %>
  <td><%= image_tag item.image_url %></td>
    <% elsif item.image.present? %>
  <td><%= image_tag item.image, size: '128x128' %>
    <% end %>
  <td><%= item.name[0..28]... %></td>
  <td><%= item.category_i18n %></td>
  <td><%= link_to "楽天でみる", item.url %><br>
  <% unless current_user.item_added?(item) %> 
    <%= link_to t('defaults.register'), myitems_path(item: {name: item.name, url: item.url, image_url: item.image_url, maker: item.maker, category: item.category, image: item.image}), action: 'create', method: :post, name: item %></td>
  <% end %>
</tr>