<% content_for(:title, t(".title")) %>
<div class="container">
  <div class="content-header">
    <h1 class="text-center pt-4 pb-3"><%= t '.title' %></h1>
    <div class="search_container">
      <%= form_with url: search_items_path, method: :get, local: true do |f| %>
        <div class="text-center">
          <%= link_to "自分で登録する", new_item_path, class: "btn btn-info rounded-pill ps-5 pe-5 mb-4 me-5" %>
        </div>
        <div class="text-center">
          <%= f.search_field :keyword, placeholder: "メーカー名 アイテム名で検索", style: 'width: 500px;' %>
          <%= button_tag type: 'submit', class: 'btn btn-default' do %>
            <i class="fa-solid fa-magnifying-glass fa-lg mb-1"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
  <% if  @items.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t(Item.human_attribute_name(:name)) %></th>
          <th scope="col"><%= t(Item.human_attribute_name(:category)) %></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'item', collection: @items %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>