<div class="container">
  <div class="content-header">
    <h1 class="text-center"><%= t '.title' %></h1>
    <div class="search-field">
      <%= form_with url: search_items_path, method: :get, local: true do |f| %>
        <div class="text-center">
          <%= link_to "自分で登録する", new_item_path %>
        </div>
        <div class="input-group">
          <%= f.search_field :keyword, class: "form-control", placeholder: "メーカー名 アイテム名で検索" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "form-control btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
  <% if  @items.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t(Item.human_attribute_name(:name)) %></th>
          <th scope="col"><%= t(Item.human_attribute_name(:category)) %></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'item', collection: @items %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>