<div class="d-flex justify-content-md-center flex-wrap mt-2">
  <%= link_to search_camps_path do %>
    <div class="btn" style="color: black; margin: 10px; padding: 10px;">
      <%= image_tag 'map1.png',  style: 'height: 50%; width: 50%' %>
      <h4 class="nav-link btn">キャンプ場検索</h4>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="btn" style="color: black; margin: 10px; padding: 10px;">
      <%= image_tag 'backpack1.png', style: 'height: 50%; width: 50%' %>
      <h4 class="nav-link btn">アイテム管理</h4>
    </div>
  <% end %>
  <%= link_to checklists_path do %>
    <div class="btn" style="color: black; margin: 10px; padding: 10px;">
      <%= image_tag 'checklist1.png', style: 'height: 50%; width: 50%', class: 'pb-1' %>
      <h4 class="nav-link btn">チェックリスト</h4>
    </div>
  <% end %>
  <%= link_to posts_path do %>
    <div class="btn" style="color: black; margin: 10px; padding: 10px;">
      <%= image_tag 'camping.png', style: 'height: 50%; width: 50%' %>
      <h4 class="nav-link btn">キャンプ記録</h4>
    </div>
  <% end %>
</div>