<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= image_tag "", class: "brand-image img-circle elevation-3", style: "opacity: .8" %>
  <%= link_to "CAMPER's", root_path, class:"brand-link brand-text font-weight-light" %>
  <div class="sidebar">
    <% if logged_in? %>
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag "", class: "img-circle elevation-2" %>
        </div>
        <div class="info" style="color: white;">
          <%= current_user.name %>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    <% end %>      
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <%= link_to search_camps_path,  class: "nav-link" do %>
            キャンプ場検索
            <i class="fa-solid fa-map-location-dot"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path, class: "nav-link" do %>
            キャンプ記録
            <i class="fa-solid fa-camera"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path, class: "nav-link" do %>
            マイアイテム
            </i><i class="fa-solid fa-campground"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to checklists_path, class: "nav-link" do %>
            チェックリスト
            <i class="fa-solid fa-signs-post"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>