<div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <div class="image-area">
        <% if item.image_url.present? %>
          <%= image_tag item.image_url %>
        <% elsif item.image.present? %>
          <%= image_tag item.image, size: '150x130' %>
        <% end %>
      </div>
      <%= item.category %></br>
      <%= item.maker %></br>
      <%= item.name[0..20] ... %>
      <div class="menu">
        <% if item.url %>
          <%= link_to "楽天でみる", item.url %>
        <% end %>
        <% unless current_user.item_added?(item) %>  
          <%= link_to "登録", myitems_path(item: {name: item.name, url: item.url, image_url: item.image_url, maker: item.maker, category: item.category}), controller: 'myitems', action: 'create', method: :post, name: item %>
        <% end %>
      </div>
    </div>
  </div>
</div>