<div class="col-lg-6">
  <div class="card border-dark mb-3" style="width: 100%; height:600px;">
    <% if post.images.present? && post.images.many? %>
      <div class="swiper" style="height: 65%;">
        <div class="swiper-wrapper">
          <% post.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image, class: "card-img-top card border-dark", style: 'height: 100%; display: block;' %>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    <% elsif post.images.present? && post.images.one? %>
      <%= image_tag post.images[0], class: "card-img-top card border-dark", style: 'height: 65%; display: block;' %>
    <% else %>
      <%= image_tag 'default_campimage.JPG', class: 'card-img-top card border-dark', style: 'height: 65%;' %>
    <% end %>
    <div class="card-body camp-fields">
      <h5><%= post.camp_field %></h5>
      <p class="card-text pt-3">
        <% if post.comment.present? && post.comment_over? %>
          <%= post.comment[0..62]... %>
        <% elsif post.comment.present? %>
          <%= post.comment %>
        <% end %>
      </p>
    </div>
    <div class="post-camp card-footer px-1" style="height: 50px;">
      <div class="float-left">
        <%= link_to "https://www.google.com/maps/search/?api=1&query=#{post.camp_field}", target: :_blank, rel: "noopener noreferrer", style: 'color: black' do %>
          <small><i class="fa-solid fa-earth-americas"></i>
          GoogleMapで表示</small>
        <% end %>
      </div>
      <div class="float-right">
        <div class="d-flex lex-row mb-3">
          <div class="p-2">
            <p><small class="text-muted"><%= post.camped_date %></small></p>
          </div>
          <div class="p-2">
            <%= link_to edit_post_path(post) do %>
              <i class='fa fa-pen-to-square'></i>
            <% end %>
          </div>
          <div class="p-2">
            <%= link_to post_path(post), method: :delete, data: { confirm: t('defaults.message.delete')} do %>
              <i class="fa-solid fa-trash-can"></i>          
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>