<div class="col">
  <div class="card border-dark mb-3" style="width: 540px; height: 460px;">
    <% if post.images.present? %>
      <%= image_tag post.images[0], size: '330x290', class: "card-img-top" %>
    <% else %>
      <%= image_tag 'default_campimage.JPG', size: '330x290', class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <div class="card-title"><strong><%= post.camp_field %></strong></div>
      <p class="card-text">
        <% if post.comment.present? %>
          <%= post.comment %>
        <% end %>
      </p>
    </div>
    <div class="card-footer" style="height: 60px;">
      <div class="d-flex lex-row mb-3">
        <div class="p-2">
          <p"><small class="text-muted"><%= post.camped_date %></small></p>
        </div>
        <div class="p-2">
          <%= link_to edit_post_path(post) do %>
            <i class='fa fa-pen-to-square'></i>
          <% end %>
        </div>
        <div class="p-2">
          <%= link_to post_path(post), method: :delete, data: { confirm: t('defaults.message.delete')} do %>
            <i class="fa-solid fa-trash-can"></i>          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>