<div class="col">
  <div class="card mb-3" style="width: 540px;">
    <div class="row g-0">
      <div class="col-md-7">
        <% if post.images.present? %>
          <%= image_tag post.images[0], size: '330x260' %>
        <% else %>
          <%= image_tag 'default_campimage.JPG', size: '330x260' %>
        <% end %>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title"><%= post.camp_field %></h5>
          <p class="card-text">
            <% if post.comment.present? %>
              <%= post.comment %>
            <% end %>
          </p>
          <p class="card-text"><small class="text-muted"><%= post.camped_date %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>