<% content_for(:title, t(".title")) %>
<%= render 'shared/links' %>
<div class="container">
  <div class="container-header">
    <div class="text-center">
      <h1 class="title pb-3 pt-2"><%= t '.title' %></h1>
      <%= button_to "キャンプの記録を投稿する", new_post_path, method: :get, class: "btn btn-info rounded-pill", style: "width: 300px" %>
    </div>
  </div>
  <div class="content pt-5 pb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
  <%= paginate @posts %>
</div>