<% content_for(:title, t(".title")) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      
      <%= form_with model: @post, local: true do |f| %>
        <%= render "shared/error_message", object: f.object %>
        <div class="form-group">
          <%= f.label :camp_field %>
          <%= f.text_field :camp_field, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :camped_date %>
          <%= f.date_field :camped_date, class: "form-control" %> 
        </div>
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
          <div class="form-group">
            <div class="border rounded col-md-12">
              <%= f.label :images, class:"far fa-image fa-lg"  %>
              <%= f.file_field :images, multiple: true, id: :camp_image, accept: '.jpeg, .jpg, .png', onchange: "previewImage(this);" %>
            </div>
            <div class="alert alert-warning mt-3" style="display:none;">画像は合計で4枚以下にしてください
            </div>
            <div class="contain">
              <div class="image_box row" id='image-box__container'></div>
              <p class="btn btn-outline-light" id="preview-delete" style="display: none;">選択をクリア</p>
            </div>
          </div>
        <div class="form-group">
          <%= f.radio_button :public, :true %>
          <%= f.label :public, "公開する" %>
          <%= f.radio_button :public, :false %>
          <%= f.label :public, "非公開" %>
        </div>
        <%= f.submit (t "defaults.post"), class: "btn btn-info rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>

<script>

var image_box = $('#image-box__container');
var number_of_added_images = $('.added-image').length;
var submit_button = $('.submit-button');
var alert_message = $('.alert-warning');

function previewImage(obj){
  $('#preview-delete').show();
  //画像が選択されていれば、プレビューを削除する
  var target_image = $('.each-image-preview');
      target_image.remove();
  var number_of_add_images = 0;

  //選択された画像をプレビューで表示
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
      var html = `<div class="col-md-4 each-image-preview">
                    <img src="${e.target.result}" style="max-width:90%; max-height:500px;">
                  </div>`;
      image_box.append(html);
		});
		fileReader.readAsDataURL(obj.files[i]);
    number_of_add_images += 1;
	};

    //画像の合計枚数を確認
    console.log(number_of_add_images);
    if (number_of_add_images > 5) {
      console.log("画像は合計5枚以下としてください");
      alert_message.fadeIn(300);
      submit_button.prop("disabled", true);
    } else {
      submit_button.prop("disabled", false);
    };
};

  //削除ボタンをクリックすると発火するイベント
  $(document).on("click", '#preview-delete', function(){
  var file_field = document.querySelector('input[type=file]');
  //削除を押されたプレビュー要素を取得
  var target_image = $('.each-image-preview');
  //inputタグに入ったファイルを削除
  $('input[type=file]').val('');
  //プレビューを削除
  target_image.remove();
  $('#preview-delete').hide();
  alert_message.fadeOut(300);
  submit_button.prop("disabled", false);
});
</script>