<tr>
    <% if myitem.image_url.present? %>
  <td><%= image_tag myitem.image_url %></td>
    <% elsif myitem.image.present? %>
  <td><%= image_tag myitem.image, size: '128x128' %>
    <% elsif myitem.image.blank? %>
  <td></td>
    <% end %>
    <% if 28 < myitem.name.size %>
  <td><%= myitem.name[0..28]... %></td>
    <% else %>
  <td><%= myitem.name %></td>
    <% end %>
  <td><%= myitem.category_i18n %></td>
  <% if @checklist.items.include?(myitem) %>
    <td><%= check_box_tag('[item_id][]', myitem.id, {  }, { include_hidden: false , style: 'transform: scale(2)' }) %></td>
  <% else %>
    <td><%= check_box_tag('[item_id][]', myitem.id, checked=false, { include_hidden: false , style: 'transform: scale(2)' }) %></td>
  <% end %>
</tr>