<% content_for(:title, t(".title", name: @checklist.name)) %>
<div class="container">
  <div class="content-header">
    <div class="text-center">
      <h1 class="py-4"><%= t('.title', name: @checklist.name) %></h1>
      <%= form_with model: @checklist, local: true do |f| %>
        <%= render "shared/error_message", object: f.object %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control mb-4" %>
        </div>
    </div>
  </div>
  <div class="content pb-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t(Item.human_attribute_name(:name)) %></th>
          <th scope="col"><%= t(Item.human_attribute_name(:category)) %></th>
          <th scope="col"><%= t('defaults.register') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'myitem', collection: @myitems, locals: { checklist: @checklist } %>
      </tbody>
    </table>
      <div class="form-group">
        <%= f.submit t('defaults.register'),  class: "btn btn-info rounded-pill float-right" %>
      </div>
    <% end %>
  </div>
</div>

