<% content_for(:title, "t(.title)") %>
<div class="container">
  <div class="content-header">
    <div class="text-center">
    <%= form_with model: @checklist, local: true do |f| %>
      <%= render "shared/error_message", object: f.object %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t(Item.human_attribute_name(:name)) %></th>
          <th scope="col"><%= t(Item.human_attribute_name(:category)) %></th>
          <th scope="col"><%= t('defaults.register') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'myitem', collection: @myitems, locals: { checklist: @checklist } %>
      </tbody>
    </table>
      <%= f.submit t('defaults.register'),  class: "btn btn-info rounded-pill" %>
    <% end %>
  </div>
</div>

