<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="content-header">
    <h1 class="text-center"><%= t '.title' %></h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="text-center">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <tr>
              <th scope="col"><%= User.human_attribute_name(:id) %></th>
              <th scope="col"><%= User.human_attribute_name(:name) %></th>
              <th scope="col"><%= User.human_attribute_name(:role) %></th>
              <th scope="col"><%= User.human_attribute_name(:created_at) %></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>