<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon(init: true) %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="//unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </head>
  <body class="sidebar-collapse">
    <%= render 'shared/flash_message' %>  
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %> 
    <div class="content-wrapper" id="camp-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script src="//unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <%= javascript_pack_tag "swiper/swiper.js" %>
  </body>
</html>
