<!DOCTYPE html>
<html>
  <head>
    <title>CampItemsShow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon(init: true) %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>
  <body class="sidebar-mini sidebar-collapse">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="content-wrapper">
      <%= render 'shared/flash_message' %>
      <%= yield %>

    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/sidebar' %>
  </body>
</html>
